In [1]:
import numpy as np
from numpy.random import randn

In [2]:
import pandas as pd

In [3]:
s="mahammad"
labels=list(s)

In [4]:
labels

['m', 'a', 'h', 'a', 'm', 'm', 'a', 'd']

In [5]:
my_data=[19,47,4,7]
arr=np.arange(4,47,7)

In [6]:
arr

array([ 4, 11, 18, 25, 32, 39, 46])

In [7]:
di={'a':5,'b':47}

In [8]:
di

{'a': 5, 'b': 47}

In [9]:
pd.Series(data=my_data)

0    19
1    47
2     4
3     7
dtype: int64

In [10]:
pd.Series(di)

a     5
b    47
dtype: int64

In [11]:
pd.Series(arr,index=labels)

ValueError: Length of values (7) does not match length of index (8)

In [12]:
sr1=pd.Series(['m', 'a', 'h', 'a', 'm', 'm', 'a', 'd'],["germany","usa","azerbaijan","turkey","hungary","portugal","uzbekistan","russia"])

In [13]:
sr1

germany       m
usa           a
azerbaijan    h
turkey        a
hungary       m
portugal      m
uzbekistan    a
russia        d
dtype: object

In [14]:
sr1['russia']

'd'

In [ ]:
np.random.seed(4)

In [ ]:
df=pd.DataFrame(data=np.random.randn(6,5),index=np.arange(6),columns=['x','y','z','h','j',])

In [ ]:
df

          x         y         z         h         j
0 -0.508380  1.005982  1.531791 -0.593602  0.764106
1 -0.329567 -0.171115  0.184285 -0.401177  0.895104
2 -1.495852 -0.695397 -0.119411 -1.044824  0.360638
3 -1.514904  0.055178 -1.440265 -0.145247  0.508073
4  2.203564  1.077634  1.617241  0.067972  2.115736
5 -0.241259 -0.252198 -1.282083  0.222252  1.053600

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(df['x'])

pandas.core.series.Series

In [ ]:
df.x

0   -0.508380
1   -0.329567
2   -1.495852
3   -1.514904
4    2.203564
5   -0.241259
Name: x, dtype: float64

In [ ]:
df.y

0    1.005982
1   -0.171115
2   -0.695397
3    0.055178
4    1.077634
5   -0.252198
Name: y, dtype: float64

In [ ]:
df[['y','x']]

          y         x
0  1.005982 -0.508380
1 -0.171115 -0.329567
2 -0.695397 -1.495852
3  0.055178 -1.514904
4  1.077634  2.203564
5 -0.252198 -0.241259

In [ ]:
df['f']

KeyError: 'f'

In [ ]:
df['k']=df['x']+df['y']

In [ ]:
df

          x         y         z         h         j         k
0 -0.508380  1.005982  1.531791 -0.593602  0.764106  0.497602
1 -0.329567 -0.171115  0.184285 -0.401177  0.895104 -0.500682
2 -1.495852 -0.695397 -0.119411 -1.044824  0.360638 -2.191249
3 -1.514904  0.055178 -1.440265 -0.145247  0.508073 -1.459727
4  2.203564  1.077634  1.617241  0.067972  2.115736  3.281198
5 -0.241259 -0.252198 -1.282083  0.222252  1.053600 -0.493456

In [ ]:
df.drop('h',axis=1)

          x         y         z         j         k
0 -0.508380  1.005982  1.531791  0.764106  0.497602
1 -0.329567 -0.171115  0.184285  0.895104 -0.500682
2 -1.495852 -0.695397 -0.119411  0.360638 -2.191249
3 -1.514904  0.055178 -1.440265  0.508073 -1.459727
4  2.203564  1.077634  1.617241  2.115736  3.281198
5 -0.241259 -0.252198 -1.282083  1.053600 -0.493456

In [ ]:
df

          x         y         z         h         j         k
0 -0.508380  1.005982  1.531791 -0.593602  0.764106  0.497602
1 -0.329567 -0.171115  0.184285 -0.401177  0.895104 -0.500682
2 -1.495852 -0.695397 -0.119411 -1.044824  0.360638 -2.191249
3 -1.514904  0.055178 -1.440265 -0.145247  0.508073 -1.459727
4  2.203564  1.077634  1.617241  0.067972  2.115736  3.281198
5 -0.241259 -0.252198 -1.282083  0.222252  1.053600 -0.493456

In [ ]:
df.drop('k',axis=1,inplace=True)

In [ ]:
df

          x         y         z         h         j
0 -0.508380  1.005982  1.531791 -0.593602  0.764106
1 -0.329567 -0.171115  0.184285 -0.401177  0.895104
2 -1.495852 -0.695397 -0.119411 -1.044824  0.360638
3 -1.514904  0.055178 -1.440265 -0.145247  0.508073
4  2.203564  1.077634  1.617241  0.067972  2.115736
5 -0.241259 -0.252198 -1.282083  0.222252  1.053600

In [ ]:
df.drop(5,axis=0)

          x         y         z         h         j
0 -0.508380  1.005982  1.531791 -0.593602  0.764106
1 -0.329567 -0.171115  0.184285 -0.401177  0.895104
2 -1.495852 -0.695397 -0.119411 -1.044824  0.360638
3 -1.514904  0.055178 -1.440265 -0.145247  0.508073
4  2.203564  1.077634  1.617241  0.067972  2.115736

In [ ]:
df.shape

(6, 5)

In [ ]:
df

          x         y         z         h         j
0 -0.508380  1.005982  1.531791 -0.593602  0.764106
1 -0.329567 -0.171115  0.184285 -0.401177  0.895104
2 -1.495852 -0.695397 -0.119411 -1.044824  0.360638
3 -1.514904  0.055178 -1.440265 -0.145247  0.508073
4  2.203564  1.077634  1.617241  0.067972  2.115736
5 -0.241259 -0.252198 -1.282083  0.222252  1.053600

In [ ]:
df.loc[[3]]

          x         y         z         h         j
3 -1.514904  0.055178 -1.440265 -0.145247  0.508073

In [ ]:
df.iloc[[3]]

          x         y         z         h         j
3 -1.514904  0.055178 -1.440265 -0.145247  0.508073

In [ ]:
df.loc[[2,4],['y','z']]

          y         z
2 -0.695397 -0.119411
4  1.077634  1.617241