In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(data=np.random.randn(6,5),index=np.arange(6),columns=['x','y','z','h','j',])

In [5]:
df

          x         y         z         h         j
0  0.227694 -1.150763  0.630852  2.387012  0.344838
1 -1.140258  0.703432  0.647403 -0.591686  0.765541
2  0.315500 -0.159909 -1.570451  0.651016  1.401247
3 -0.212929 -0.082645  1.773115 -0.227936 -1.312096
4 -0.324272 -0.033257 -1.547709 -0.686628  0.301491
5 -0.250047  1.082254  1.649207  0.695004  0.694604

In [6]:
np.random.seed(101)

In [7]:
bool_df=df>0

In [8]:
df[bool_df]

          x         y         z         h         j
0  0.227694       NaN  0.630852  2.387012  0.344838
1       NaN  0.703432  0.647403       NaN  0.765541
2  0.315500       NaN       NaN  0.651016  1.401247
3       NaN       NaN  1.773115       NaN       NaN
4       NaN       NaN       NaN       NaN  0.301491
5       NaN  1.082254  1.649207  0.695004  0.694604

In [9]:
df

          x         y         z         h         j
0  0.227694 -1.150763  0.630852  2.387012  0.344838
1 -1.140258  0.703432  0.647403 -0.591686  0.765541
2  0.315500 -0.159909 -1.570451  0.651016  1.401247
3 -0.212929 -0.082645  1.773115 -0.227936 -1.312096
4 -0.324272 -0.033257 -1.547709 -0.686628  0.301491
5 -0.250047  1.082254  1.649207  0.695004  0.694604

In [28]:
df[df['z']>0]

          x         y         z         h         j
1 -0.325093 -1.984855  0.093413 -0.925587  0.815990
2  0.354591 -0.788443  0.530277  0.627705  1.534483
3  0.417453  0.996989  0.841467 -0.064466 -1.636284

In [10]:
mh=df[df['z']<0]

In [32]:
mh

          x         y         z         h         j
0 -1.618279  1.698495 -0.662814 -0.640319 -0.279399
4 -0.931827 -0.078922 -0.806626  0.301672  0.884781
5 -0.062530 -0.993496 -1.761028  0.603486 -2.425165

In [11]:
mh['x']

2    0.315500
4   -0.324272
Name: x, dtype: float64

In [12]:
mh[mh['x']<-0.8]

Empty DataFrame
Columns: [x, y, z, h, j]
Index: []

In [13]:
df[df['z']>0]['y']

0   -1.150763
1    0.703432
3   -0.082645
5    1.082254
Name: y, dtype: float64

In [14]:
df[df['z']>0][['y','h']]

          y         h
0 -1.150763  2.387012
1  0.703432 -0.591686
3 -0.082645 -0.227936
5  1.082254  0.695004

In [15]:
df[(df['z']>0 ) and (df['x']<0)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

"""
because of i get this error is that , in and operation doesn't understand which true and false condition should be checking ,so for example(df['z']>0 ) is a series of true and false condition ,so we have to use & operator
"""

In [16]:
df[(df['z']>0 ) & (df['x']<0)]

          x         y         z         h         j
1 -1.140258  0.703432  0.647403 -0.591686  0.765541
3 -0.212929 -0.082645  1.773115 -0.227936 -1.312096
5 -0.250047  1.082254  1.649207  0.695004  0.694604

In [17]:
df[(df['z']>0 ) | (df['x']<0)]

          x         y         z         h         j
0  0.227694 -1.150763  0.630852  2.387012  0.344838
1 -1.140258  0.703432  0.647403 -0.591686  0.765541
3 -0.212929 -0.082645  1.773115 -0.227936 -1.312096
4 -0.324272 -0.033257 -1.547709 -0.686628  0.301491
5 -0.250047  1.082254  1.649207  0.695004  0.694604

In [18]:
df.reset_index()

   index         x         y         z         h         j
0      0  0.227694 -1.150763  0.630852  2.387012  0.344838
1      1 -1.140258  0.703432  0.647403 -0.591686  0.765541
2      2  0.315500 -0.159909 -1.570451  0.651016  1.401247
3      3 -0.212929 -0.082645  1.773115 -0.227936 -1.312096
4      4 -0.324272 -0.033257 -1.547709 -0.686628  0.301491
5      5 -0.250047  1.082254  1.649207  0.695004  0.694604

In [19]:
new_id="USA AUS GB AZE GEO FRA"
df["countries"]=new_id.split()

In [64]:
df

   index         x         y         z         h         j countries
0      0 -1.618279  1.698495 -0.662814 -0.640319 -0.279399       USA
1      1 -0.325093 -1.984855  0.093413 -0.925587  0.815990       AUS
2      2  0.354591 -0.788443  0.530277  0.627705  1.534483        GB
3      3  0.417453  0.996989  0.841467 -0.064466 -1.636284       AZE
4      4 -0.931827 -0.078922 -0.806626  0.301672  0.884781       GEO
5      5 -0.062530 -0.993496 -1.761028  0.603486 -2.425165       FRA

In [21]:
df.set_index('countries',inplace=True)

In [22]:
df

                  x         y         z         h         j
countries
USA        0.227694 -1.150763  0.630852  2.387012  0.344838
AUS       -1.140258  0.703432  0.647403 -0.591686  0.765541
GB         0.315500 -0.159909 -1.570451  0.651016  1.401247
AZE       -0.212929 -0.082645  1.773115 -0.227936 -1.312096
GEO       -0.324272 -0.033257 -1.547709 -0.686628  0.301491
FRA       -0.250047  1.082254  1.649207  0.695004  0.694604