In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(data=np.random.randn(6,5),index=np.arange(6),columns=['x','y','z','h','j',])

In [3]:
df

          x         y         z         h         j
0  0.459213 -0.404477  1.073958 -1.233116  0.953193
1 -0.161292 -0.912654  2.335840 -0.316978 -0.711238
2  1.188540 -0.595518 -0.394508  0.134438 -1.685942
3 -0.040406  0.080408  0.667881  0.374459 -1.791713
4 -1.192548 -0.029182 -0.648799 -1.675737 -0.621591
5  0.297794 -1.258245 -0.550417 -1.210907 -1.748692

In [4]:
np.random.seed(101)

In [5]:
bool_df=df>0

In [6]:
df[bool_df]

          x         y         z         h         j
0  0.459213       NaN  1.073958       NaN  0.953193
1       NaN       NaN  2.335840       NaN       NaN
2  1.188540       NaN       NaN  0.134438       NaN
3       NaN  0.080408  0.667881  0.374459       NaN
4       NaN       NaN       NaN       NaN       NaN
5  0.297794       NaN       NaN       NaN       NaN

In [7]:
df

          x         y         z         h         j
0  0.459213 -0.404477  1.073958 -1.233116  0.953193
1 -0.161292 -0.912654  2.335840 -0.316978 -0.711238
2  1.188540 -0.595518 -0.394508  0.134438 -1.685942
3 -0.040406  0.080408  0.667881  0.374459 -1.791713
4 -1.192548 -0.029182 -0.648799 -1.675737 -0.621591
5  0.297794 -1.258245 -0.550417 -1.210907 -1.748692

In [8]:
df[df['z']>0]

          x         y         z         h         j
0  0.459213 -0.404477  1.073958 -1.233116  0.953193
1 -0.161292 -0.912654  2.335840 -0.316978 -0.711238
3 -0.040406  0.080408  0.667881  0.374459 -1.791713

In [9]:
mh=df[df['z']<0]

In [10]:
mh

          x         y         z         h         j
2  1.188540 -0.595518 -0.394508  0.134438 -1.685942
4 -1.192548 -0.029182 -0.648799 -1.675737 -0.621591
5  0.297794 -1.258245 -0.550417 -1.210907 -1.748692

In [11]:
mh['x']

2    1.188540
4   -1.192548
5    0.297794
Name: x, dtype: float64

In [12]:
mh[mh['x']<-0.8]

          x         y         z         h         j
4 -1.192548 -0.029182 -0.648799 -1.675737 -0.621591

In [13]:
df[df['z']>0]['y']

0   -0.404477
1   -0.912654
3    0.080408
Name: y, dtype: float64

In [14]:
df[df['z']>0][['y','h']]

          y         h
0 -0.404477 -1.233116
1 -0.912654 -0.316978
3  0.080408  0.374459

In [15]:
df[(df['z']>0 ) and (df['x']<0)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

"""
because of i get this error is that , in and operation doesn't understand which true and false condition should be checking ,so for example(df['z']>0 ) is a series of true and false condition ,so we have to use & operator
"""

In [16]:
df[(df['z']>0 ) & (df['x']<0)]

          x         y         z         h         j
1 -0.161292 -0.912654  2.335840 -0.316978 -0.711238
3 -0.040406  0.080408  0.667881  0.374459 -1.791713

In [17]:
df[(df['z']>0 ) | (df['x']<0)]

          x         y         z         h         j
0  0.459213 -0.404477  1.073958 -1.233116  0.953193
1 -0.161292 -0.912654  2.335840 -0.316978 -0.711238
3 -0.040406  0.080408  0.667881  0.374459 -1.791713
4 -1.192548 -0.029182 -0.648799 -1.675737 -0.621591

In [18]:
df.reset_index()

   index         x         y         z         h         j
0      0  0.459213 -0.404477  1.073958 -1.233116  0.953193
1      1 -0.161292 -0.912654  2.335840 -0.316978 -0.711238
2      2  1.188540 -0.595518 -0.394508  0.134438 -1.685942
3      3 -0.040406  0.080408  0.667881  0.374459 -1.791713
4      4 -1.192548 -0.029182 -0.648799 -1.675737 -0.621591
5      5  0.297794 -1.258245 -0.550417 -1.210907 -1.748692

In [19]:
new_id="USA AUS GB AZE GEO FRA"
df["countries"]=new_id.split()

In [20]:
df

          x         y         z         h         j countries
0  0.459213 -0.404477  1.073958 -1.233116  0.953193       USA
1 -0.161292 -0.912654  2.335840 -0.316978 -0.711238       AUS
2  1.188540 -0.595518 -0.394508  0.134438 -1.685942        GB
3 -0.040406  0.080408  0.667881  0.374459 -1.791713       AZE
4 -1.192548 -0.029182 -0.648799 -1.675737 -0.621591       GEO
5  0.297794 -1.258245 -0.550417 -1.210907 -1.748692       FRA

In [21]:
df.set_index('countries',inplace=True)

In [ ]:
df

                  x         y         z         h         j
countries
USA       -0.772609 -1.315616  2.114030 -0.015832  1.326472
AUS       -0.414239  0.073353 -1.328914  0.695852 -1.011251
GB        -1.075277  0.991035 -0.464687 -1.410040 -1.108633
AZE        0.371784 -1.056994 -0.240031 -0.324544  1.463260
GEO        0.920396 -1.054178 -1.322877  1.215814 -1.036861
FRA        0.781884  0.814531 -2.095563  0.304722  0.659742

In [42]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [37]:
fd=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
fd.index = fd.index.set_levels(fd.index.levels[1].astype(int), level=1)

In [41]:
fd

             A         B
G1 1  2.154846 -0.610259
   2 -0.755325 -0.346419
   3  0.147027 -0.479448
G2 1  0.558769  1.024810
   2 -0.925874  1.862864
   3 -1.133817  0.610478

In [40]:
fd.loc['G1']

          A         B
1  2.154846 -0.610259
2 -0.755325 -0.346419
3  0.147027 -0.479448

In [48]:
fd.loc['G1'].loc[1,'A']

np.float64(2.154846443259472)

In [51]:
fd.index.names=['Groups','Nums']

In [52]:
fd

                    A         B
Groups Nums
G1     1     2.154846 -0.610259
       2    -0.755325 -0.346419
       3     0.147027 -0.479448
G2     1     0.558769  1.024810
       2    -0.925874  1.862864
       3    -1.133817  0.610478

In [54]:
fd.loc['G2'].loc[3].loc['B']

np.float64(0.6104779075384634)

In [57]:
fd.xs

<bound method NDFrame.xs of                     A         B
Groups Nums
G1     1     2.154846 -0.610259
       2    -0.755325 -0.346419
       3     0.147027 -0.479448
G2     1     0.558769  1.024810
       2    -0.925874  1.862864
       3    -1.133817  0.610478>

In [58]:
fd.xs('G1')

             A         B
Nums
1     2.154846 -0.610259
2    -0.755325 -0.346419
3     0.147027 -0.479448

In [60]:
fd.xs(1,level='Nums')

               A         B
Groups
G1      2.154846 -0.610259
G2      0.558769  1.024810

In [62]:
dfd = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [63]:
dfd

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [66]:
dfd.dropna()

     A    B  C
0  1.0  5.0  1

In [67]:
dfd

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
dfd.dropna(axis=1)

     A    B  C
0  1.0  5.0  1

In [71]:
dfd.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [75]:
dfd.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [76]:
dfd

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [77]:
dfd.fillna(value='FIll Value')

            A           B  C
0         1.0         5.0  1
1         2.0  FIll Value  2
2  FIll Value  FIll Value  3

In [82]:
dfd['B'].fillna(value=dfd['A'].mean())

0    5.0
1    1.5
2    1.5
Name: B, dtype: float64